:root {
	--yellow-color: #fbbb36;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #000;
	/* font-family: 'Montserrat', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

label, input[type=checkbox], input[type=radio] {
	margin: 0;
	padding: 0;
	font-weight: 400;
}



p, span {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

a,
a:hover,
a:focus,
a:active {
	color: #000;
	text-decoration: none !important;
}

.container {
	max-width: 1200px!important;
}

h2 {
	font-weight: 500;
	font-size: 35px;
	line-height: 37px;
	font-weight: 400;
}

h3 {
	font-size: 20px;
	line-height: 21px;
	font-weight: 400;
}

p,button {
	font-weight: 400;
	font-size: 15px;
	line-height: 16px;
}

.vdp-datepicker__calendar {
	right: 30px;
	padding: 20px;
}


/* Header */

.logo {
	width: 84px;
	height: 84px;
}

.yellow-header {
	/* background-color: #fbbb36; */
	background-color: var(--yellow-color);
}

.black-header {
	background-color: #000;
	color: var(--yellow-color);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header-wrap {
	padding: 8px 0;
}

.header-search {
	width: 100%;
	max-width: 520px;
	display: flex;
}

.header-search input {
	width: 100%;
	padding: 14px 20px;
	border: none;
}

.header-search button {
	padding: 12px 15px;
	background-color: #030405;
	color: #fff;
	border: none;
}

.header-shop-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 33%;
}

.header-contacts,
.header-worktime,
.header-adress {
	display: flex;
	align-items: center;
}

.header-contacts div,
.header-worktime div,
.header-adress div {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.header-cart {
	display: flex;
}

.cart-price {
	margin: 0 6px;
}

.cart-count {
	background-color: #fff;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-menu {
	padding: 15px 0;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu-block {
	display: flex;
	align-items: center;
	font-size: 15px;
}

.header-menu-block li {
	cursor: pointer;
}

.header-menu-block li:not(:last-child) {
	margin-right: 38px;
}

.header-menu-block li:first-child {
	display: flex;
	align-items: center;
	position: relative;
}

.burger-menu {
	width: 18px;
	height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 6px;
}

.burger-menu span {
	display: block;
	width: 18px;
	height: 3px;
	background-color: #000;
}

.header-menu-cabinet__wrap {
	display: flex;
	align-items: center;
}

.header-menu-cabinet {
	cursor: pointer;
}

.header-menu-cabinet:not(:last-child) {
	margin-right: 35px;
}
.header-menu-cabinet img {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.header-info__wrap {
	display: flex;
	justify-content: center;
	width: 75%;
}

.header-info__wrap div:not(:last-child) {
	margin-right: 40px;
}

.header-info__wrap img {
	width: 20px;
	height: 20px;
}

/* FOOTER */

.yellow-footer {
	background-color: var(--yellow-color) !important;
	color: #000 !important;
}

.black-footer {
	background-color: #000 !important;
	color: var(--yellow-color) !important;
}

.black-footer a {
	color: var(--yellow-color) !important;
}

.footer {
	font-size: 15px;
	font-weight: 400;
}

.footer .container {
	position: relative;
}

.head-footer {
	background-color: var(--yellow-color);
	padding: 21px 0;
}

.footer-left-text {
	opacity: 0.4;
	margin-top: 30px;
}

.footer-left-text span {
	display: block;
	max-width: 150px;
	font-size: inherit;
	line-height: inherit;
}

.footer-menu__wrap {
	display: flex;
	justify-content: flex-end;
}

.footer-menu:not(:last-child) {
	margin-right: 74px;
}

.footer-menu-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}

.footer-menu-item {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	white-space: nowrap;
}

.footer-social {
	position: absolute;
	bottom: 0px;
	right: 15px;
}

/* SHOP SLIDER */

.shop-slider {
	padding: 30px 0;
}

.slide-box {
	padding: 120px 0 83px 90px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.swiper-slide h2 {
	color: var(--yellow-color);
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
}

.swiper-slide p {
	margin-bottom: 73px;
	/* max-width: 220px; */
}

.slider-btn {
	padding: 15px 56px;
	border: 1px solid #FFFAFA;
	background-color: transparent;
	transition: all .5s ease;
}

.slider-btn:hover {
	border: 1px solid #000;
	background-color: #000;
	transition: all .5s ease;
}

.under-slider__wrap {
  margin: 35px 0;
}

.under-slider__wrap .row {
	display: flex;
}

.under-slider-block {
  display: flex;
  align-items: center;
}

.under-slider-block:nth-child(2) {
  justify-content: center;
}

.under-slider-block:last-child {
  justify-content: flex-end;
}

.yellow-cube {
  display: block;
  width: 42px;
  height: 42px;
  background-color: var(--yellow-color);
  margin-right: 25px;
}

/* ABOUT US COMPONENT */

.about-component {
	margin-bottom: 70px;
}

.about-component-title {
	margin-bottom: 30px;
}

.about-component-text {
	margin-bottom: 40px;
}

.about-component-map-left {
	display: flex; 
	align-items: flex-start;
	margin-bottom: 37px;
}

.about-component-map-left:last-child {
	margin-bottom: 0;
}

.about-component-num {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	min-width: 83px;
	margin-right: 20px;
}

.about-component-map-left div h3 {
	margin-bottom: 10px;
}

.about-component--yellow-text {
	color: var(--yellow-color);
}

.map-instance__wrap {
  width: 100%;
  height: 260px !important;
}


/* SWIPER PAGINATION */

.swiper-pagination {
  bottom: 20px !important;
  right: 40px !important;
  left: auto !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid #fff !important;
  width: 14px !important;
  height: 14px !important;
	position: relative
}

.swiper-pagination-bullet-active:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin: auto;
	background-color: #fff;
}

/* SERVICES COMPONENT */

.services {
	margin-top: 70px;
	margin-bottom: 70px;
}

.services__wrap {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 40px;
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
	max-width: 200px;
	max-height: 200px;
}

.services-title {
	color: var(--yellow-color);
	margin-bottom: 30px;
}

.services-item:hover {
	background-color: #F6F5F2;
}

.services-item img {
	margin-bottom: 24px;
	width: 90px;
	height: 90px;
}

.services-item span {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 15px;
}

/* ARTICLES COMPONENT */

.articles {
	margin-bottom: 70px;
}

.articles-title {
	color: var(--yellow-color);
}

.article-item {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
	max-width: 350px;
}



.article-item-img__wrap {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 200px;
}

.article-item-body {
	padding: 0 25px;
}

.article-item-body span {
	display: block;
	margin: 37px 0;
	
}

.article-item-body p {
	margin-bottom: 30px;
	min-height: 50px;
}

.article-item-body button {
	width: 100%;
	color: #fff;
	background-color: var(--yellow-color);
	border: none;
	padding: 12px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

/* REGISTRATION COMPONENT */ 

.online-registr {
	margin-bottom: 70px;
}

.online-registr-title {
	margin-bottom: 30px;
	color: var(--yellow-color);
}

.online-registr-text {
	margin-bottom: 30px;
}

.online-registr-contacts {
	margin-bottom: 30px;
	
}
.online-registr-contacts,
.online-registr-adress {
	display: flex;
	flex-direction: column;
}

.online-registr-adress p {
	font-size: inherit;
}

.online-registr-contacts a {
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

.online-registr-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7px;
}

.online-registr-form-title {
	margin-bottom: 30px;
}

.online-registr-form input,
.online-registr-form select {
	background-color: #F0F0F1;
	padding: 14px 25px 12px 25px;
	outline: none;
	border: none;
	width: 100%;
}

.online-registr-form input::placeholder {
	color: #000;
}

.online-registr-form button {
	padding: 12px 28px;
	background-color: var(--yellow-color);
	border: none;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	font-weight: 400;
}

/* ARTICLES PAGE  */

.big-article {
  background: linear-gradient(180deg, #030405 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/article-img.png");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 450px;
  padding: 30px;
  color: #fff;
  box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.25);
  margin: 30px 0 70px;
}

.big-article ~ button {
	margin: 0 auto;
	display: block;
	padding: 12px;
	max-width: 370px;
	width: 100%;
	color: #fff;
	background-color: #000;
}

.big-article h3 {
  font-size: 35px;
  line-height: 37px;

  margin-bottom: 30px;
}

.big-article span {
  font-size: 20px;
  line-height: 22px;
}


/* ARTICLE PAGE */

.article-page__wrap .article-page-img{
	/* background-size: cover; */
  background-position: center center;
	filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.25));
  height: 500px;
  margin: 0 0 70px 0;
	width: 100%;
}

.article-page__wrap span {
	display: block;
	margin-bottom: 30px;
}

.article-page__wrap h2 {
	margin-bottom: 30px;
}

.article-page-content p {
	margin-bottom: 38px;
}

.article-page-content .wp-block-image {
	text-align: center;
	margin-bottom: 50px;
}

/* PROFITABLE OFFER COMPONENT  */

.profitable-offer {
  margin-bottom: 70px;
}

.profitable-offer-title {
  margin-bottom: 30px;
}

.offer-item {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.offer-item-img-box {
  /* max-width: 350px; */
  height: 200px;
  background-color: #fbbb36;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



.offer-item-discount {
  position: absolute;
  left: 0;
  top: 17px;
  padding: 5px 8px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  background-color: #ff0f0f;
}

.offer-item-body {
  padding: 25px;
}

.offer-item-title {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.offer-item-descr {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.offer-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #ff0f0f;
}

.offer-item-btn {
  width: 100%;
  padding: 12px;
  border: 2px solid #fbbb36;
  background-color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}


/* USLUGA PAGE  */

.usluga-info {
  margin-top: 30px;
  margin-bottom: 70px;
}


.usluga-info-title {
  margin-bottom: 30px;
}

.usluga-info-descr {
  font-size: 15px;
  line-height: 16px;
}

.usluga-info-descr p strong {
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;
}

.usluga-info-descr p {
  margin-bottom: 15px;
}

.usluga-info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usluga-info-right img {
  width: 80%;
}


/* USLUGA TABLE */

.usluga-table-component {
  margin-bottom: 70px;
}

.usluga-table-title {
  color: var(--yellow-color);
  margin-bottom: 30px;
}

.usluga-table-subtitle {
  margin-bottom: 30px;
}

.usluga-table {
  width: 100%;
}

.usluga-table tr {
  border-bottom: 1px solid #c4c4c4;
}

.usluga-table tr td {
  padding: 15px 0;
  text-align: center;
}

.usluga-table tr td:first-child {
  text-align: left;
}

.usluga-table tr td:last-child {
  text-align: right;
}


/* MOBILE USLUGA TABLE  */

.mobile-table-component {
  margin-bottom: 70px;
}

.mobile-table-tab {
  font-size: 13px;
  text-align: center;
  margin-bottom: 25px;
}

.mobile-table-tab div {
  max-width: 120px;
  padding: 7px;
  background-color: var(--yellow-color);
}

table {
  width: 100%;
}

.mobile-table tr td {
  padding: 10px 0;
  border-bottom: 1px solid #c4c4c4;
}

.mobile-table tr td:last-child {
	text-align: right;
}

.activeTab {
  background-color: #D7A02F!important;
}

/* PAYMENT PAGE  */

.payment-page {
  min-height: 100vh;
  padding: 30px 0;
}

.payment-page * {
  margin-bottom: 30px;
}

.payment-page img {
  width: 100%;
  max-width: 750px;
}

.payment-page h3 {
  color: #fbbb36;
}

/* GUARANTEE PAGE  */

.guarantee-page-title {
  margin-bottom: 30px;
}

.guarantee-page {
  padding: 30px 0;
}

.guarantee-page-block {
  margin-bottom: 30px;
}

.guarantee-page-block p {
  margin-top: 30px;
  font-size: 15px;
  line-height: 16px;
}

.guarantee-page-block .guarantee-yellow-title {
  color: var(--yellow-color)
}

 /* CART ORDER */

.cart-order-component {
  background-color: #f9f9f9;
  border: 1px solid #c4c4c4;
  padding: 20px;
}

.cart-order-component > h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

.cart-order__wrap {
  margin-top: 30px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.cart-order-item:not(:last-child) {
	margin-bottom: 70px;
}


.cart-order-item-header {
  display: flex;
}

.cart-order-item-img {
  width: 100px;
  height: 70px;
  background-color: #fff;
  margin-right: 15px;
  border: 1px solid #c4c4c4;
}

.cart-order-item-descr h5 {
  margin-bottom: 20px;
}

.cart-order-item-descr span {
  font-weight: 400;
}

.cart-order-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-order-item-functions div {
  display: flex;
  align-items: center;
}

.cart-order-item-functions div img {
  margin-right: 10px;
}

.cart-order-item-favorite {
  margin-bottom: 8px;
}

.cart-order-item-counter span {
	margin: 0 10px;
}

.cart-order-item-price {
  margin-bottom: 0 !important;
  color: var(--yellow-color);
	text-align: right;
}

.cart-order-total-sum {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.cart-order-total-sum h4 {
	font-size: 20px;
	line-height: 21px;
}

.cart-order-sum {
	margin: 30px 0;
}

.cart-order-total-sum span {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	color: var(--yellow-color);
}

.cart-order-coupon {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.cart-order-coupon input {
	max-width: 220px;
	padding: 14px 19px;
	margin-top: 8px;
	background-color: #F9F9F9;
	border: 1px solid #D1D1D1;
	
}

.cart-order-coupon input::placeholder {
	color: #000;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

/* CART FORM */

.cart-form-head-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cart-form-head-text span {
  color: var(--yellow-color);
}

.adress-form {
  margin-top: 30px;
  margin-bottom: 70px;
}

.cart-form-input__wrap {
  margin-bottom: 25px;
}

.cart-form-input__wrap label,
.cart-form-textarea__wrap label {
  margin-bottom: 8px;
  font-weight: 400;
}

.cart-form-input__wrap input {
  width: 100%;
  padding: 12px 20px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
}

.cart-form-input__wrap input::placeholder,
.cart-form-textarea__wrap textarea::placeholder {
  color: #000;
  font-weight: 400;
}

.cart-form-textarea__wrap {
  margin-top: 30px;
}

.cart-form-textarea__wrap textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
}

.submit-order-form__wrap {
  margin-top: 70px;
}

.cart-form-checkbox__wrap {
  display: flex;
  align-items: center;
  padding: 11px 18px;
  background-color: #f9f9f9;
  border: 1px solid #c4c4c4;
}

.cart-form-checkbox__wrap {
  width: fit-content;
}

.cart-form-checkbox__wrap:first-child {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom-label {
  display: flex;
  align-items: center;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background: #fff;
  border: 1px solid #c4c4c4;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  display: block;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: url("../img/check-arrow.svg");
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-order-form-btn {
  padding: 16px 50px;
  border: none;
  color: #fff;
  background-color: var(--yellow-color);
  margin-top: 17px;
}

.submit-order-form-privacy {
  margin-top: 30px;
}

.submit-order-form-privacy img {
  display: block;
  margin-bottom: 10px;
}

.submit-order-form-privacy span {
  font-weight: 500;
}

.submit-order-form-privacy p,
.submit-order-form-privacy span {
  font-size: 15px;
  line-height: 16px;
}




/*ADAPTIIIIIIIIIV*/

@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 1199px) {

	
}

@media (max-width: 991px) {
	p {
		font-size: 10px;
		line-height: 11px;
	}

	.header-wrap {
		padding: 17px 0;
	}

	.header-search {
		max-width: 350px;
	}

	.header-search input {
		padding: 5px;
    font-size: 10px;
    line-height: 10px;
	}

	.header-search button {
		padding: 5px;
		border: none;
	}

	.header-shop-right {
    flex-direction: column-reverse;
    align-items: flex-end;
		width: unset
	}

	.header-cart {
		margin-bottom: 15px;
	}

	.footer-menu:not(:last-child) {
		margin-right: 46px;
	}

	.footer-left-text {
		font-size: 10px;
		margin-top: 15px;
	}

	.footer-menu-title {
		font-size: 13px;
		margin-bottom: 15px;
	}

	.footer-menu-item {
		font-size: 10px;
		line-height: 11px;
		margin-bottom: 10px;
	}


	.footer-social a img{
		height: 18px;
	}

	.offer-item-img-box img {
		width: 100%;
	}

	.yellow-cube {
		width: 26px;
		height: 26px;
		margin-right: 10px;
	}
}
@media (max-width: 786px) {
}
@media (max-width: 767px) {
}
@media (max-width: 672px) {
	

	.header-search {
		position: absolute;
    right: 15px;
    top: 123px;
    width: 60%;
	}

	.header-shop-right {
		flex-direction: row;
    justify-content: space-between;
    align-items: center;
	}

	.header-menu-cabinet__wrap {
		position: absolute;
    left: 15px;
    top: 125px;
	}

	.header-menu-cabinet:not(:last-child) {
		margin-right: 20px;
	}

	.header-menu-block li:not(:last-child) {
		margin-right: 20px;
		
	}

	.header-menu-block li {
		font-size: 13px;
	}

	.header-cart {
		margin-bottom: 0;
	}

	.header-shop-right {
		width: 100%;
		margin-left: 20%;
	}

	.header-contacts {
		font-size: 13px;
		line-height: 14px;
	}
}
@media (max-width: 512px) {
	.header-shop-right {
		margin-left: 35px;
	}

	.head-footer .row {
		display: flex;
    flex-direction: column;
    justify-content: center;
	}

	.footer-left {
		display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
		margin-bottom: 30px;
	}

	.footer-center {
		width: 100%;
	}

	.footer-menu__wrap {
		justify-content: center;
	}

	.footer-menu:not(:last-child) {
		margin-right: 12px;
	}
}
@media (max-width: 390px) {
	.header-shop-right {
		margin-left: 15px;
		flex-direction: column;
    align-items: flex-end;
	}

	.header-contacts {
		margin-bottom: 15px;
	}

	.header-search {
		width: 50%;
	}
	.header-menu-block li {
		font-size: 10px;
	}

	.burger-menu {
		width: 16px;
		height: 12px
	}

	.burger-menu span {
		height: 2px;
		width: 16px;
	}
}
@media (max-width: 320px) {
}

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

button:active,
button:hover,
button:focus {
	outline: 0;
	outline-offset: 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
