:root {
	--yellow-color: #fbbb36;
}

@font-face {
	font-family: "Noah"; 
	src: url("../fonts/Noahbold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
} 

@font-face {
	font-family: "Noah"; 
	src: url("../fonts/Noahregular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
} 

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #000;
	overflow-x: hidden
	/* font-family: 'Montserrat', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

label, input[type=checkbox], input[type=radio] {
	margin: 0;
	padding: 0;
	font-weight: 400;
}



p, span {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

a,
a:hover,
a:focus,
a:active {
	color: #000;
	text-decoration: none !important;
}

.container {
	max-width: 1200px!important;
}

h2 {
	font-weight: 500;
	font-size: 35px;
	line-height: 37px;
}

h3 {
	font-size: 20px;
	line-height: 21px;
	font-weight: 400;
}

p,button {
	font-weight: 400;
	font-size: 15px;
	line-height: 16px;
}

.vdp-datepicker__calendar {
	right: 30px;
	padding: 20px;
}

input, select {
	-webkit-appearance: none;
-webkit-border-radius: 0px;
border-radius:0;
}


/* Header */

.logo {
	width: 84px;
	height: 84px;
}

.yellow-header {
	/* background-color: #fbbb36; */
	background-color: var(--yellow-color);
}

.black-header {
	background-color: #000;
	color: var(--yellow-color);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header-wrap {
	padding: 8px 0;
}

.header-search {
	width: 100%;
	max-width: 520px;
	display: flex;
}

.header-search input {
	width: 100%;
	padding: 14px 20px;
	border: none;
	font-family: 'Noah';
	font-weight: 400;
}

.header-search button {
	padding: 12px 15px;
	background-color: #030405;
	color: #fff;
	border: none;
	font-family: 'Noah';
	font-weight: 700;
}

.header-shop-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 33%;
}

.header-contacts,
.header-worktime,
.header-adress {
	display: flex;
	align-items: center;
}

.header-contacts div,
.header-worktime div,
.header-adress div {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.header-cart {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.cart-price {
	margin: 0 6px;
}

.cart-count {
	background-color: #fff;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-menu {
	padding: 15px 0;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu-block {
	display: flex;
	align-items: center;
	font-size: 15px;
}

.header-menu-block li {
	cursor: pointer;
}

.header-menu-block li:not(:last-child) {
	margin-right: 38px;
}

.header-menu-block li:first-child {
	display: flex;
	align-items: center;
	position: relative;
}

.burger-menu {
	width: 18px;
	height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 6px;
}

.burger-menu span {
	display: block;
	width: 18px;
	height: 3px;
	background-color: #000;
}

.header-menu-cabinet__wrap {
	display: flex;
	align-items: center;
}

.header-menu-cabinet {
	cursor: pointer;
}

.header-menu-cabinet:not(:last-child) {
	margin-right: 35px;
}
.header-menu-cabinet img {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.header-info__wrap {
	display: flex;
	justify-content: center;
	width: 75%;
}

.header-info__wrap div:not(:last-child) {
	margin-right: 40px;
}

.header-info__wrap img {
	width: 20px;
	height: 20px;
}

/* FOOTER */

.yellow-footer {
	background-color: var(--yellow-color) !important;
	color: #000 !important;
}

.black-footer {
	background-color: #000 !important;
	color: var(--yellow-color) !important;
}

.black-footer a {
	color: var(--yellow-color) !important;
}

.footer {
	font-size: 15px;
	font-weight: 400;
}

.footer .container {
	position: relative;
}

.head-footer {
	background-color: var(--yellow-color);
	padding: 21px 0;
}

.footer-left-text {
	opacity: 0.4;
	margin-top: 30px;
}

.footer-left-text span {
	display: block;
	max-width: 150px;
	font-size: inherit;
	line-height: inherit;
}

.footer-payments-img {
	width: 50%;
	margin-top: 10px;
}

.footer-menu__wrap {
	display: flex;
	justify-content: flex-end;
}

.footer-menu:not(:last-child) {
	margin-right: 74px;
}

.footer-menu-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}

.footer-menu-item {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	white-space: nowrap;
	cursor: pointer;
}

.footer-social {
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.footer-bottom__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	font-size: 15px;
	line-height: 16px;
	
}

.footer-bottom__wrap * {
	color: #9C9C9C;
}

.footer-privacy a:first-child {
	margin-right: 30px;
}

.footer-logo {
	font-family: "Noah"; 
	font-weight: 400;
}

.footer-logo span {
	color: #000!important;
	border-bottom: 1px solid #000;
	margin-left: 10px;
	font-size: 24px;
	line-height: 25px;
}

/* SHOP SLIDER */

.shop-slider {
	padding: 30px 0;
}

.slide-box {
	padding: 120px 0 83px 90px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.swiper-slide h2 {
	color: var(--yellow-color);
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
}

.swiper-slide p {
	margin-bottom: 73px;
}

.slider-btn {
	padding: 15px 56px;
	border: 1px solid #FFFAFA;
	background-color: transparent;
	transition: all .5s ease;
}

.slider-btn:hover {
	border: 1px solid #000;
	background-color: #000;
	transition: all .5s ease;
}

.under-slider__wrap {
  margin: 35px 0;
}

.under-slider__wrap .row {
	display: flex;
}

.under-slider-block {
  display: flex;
  align-items: center;
}

.under-slider-block:nth-child(2) {
  justify-content: center;
}

.under-slider-block:last-child {
  justify-content: flex-end;
}

.yellow-cube {
  display: block;
  width: 42px;
  height: 42px;
  background-color: var(--yellow-color);
  margin-right: 25px;
}

/* ABOUT US COMPONENT */

.about-component {
	margin-bottom: 70px;
}

.about-component-title {
	margin-bottom: 30px;
}

.about-component-text {
	margin-bottom: 40px;
}

.about-component-map-left {
	display: flex; 
	align-items: flex-start;
	margin-bottom: 37px;
}

.about-component-map-left:last-child {
	margin-bottom: 0;
}

.about-component-num {
	font-size: 35px;
	line-height: 41px;
	font-weight: 500;
	min-width: 83px;
	margin-right: 20px;
}

.about-component-map-left div h3 {
	margin-bottom: 10px;
}

.about-component--yellow-text {
	color: var(--yellow-color);
}

.map-instance__wrap {
  width: 100%;
  height: 260px !important;
}


/* SWIPER PAGINATION */

.swiper-pagination {
  bottom: 20px !important;
  right: 40px !important;
  left: auto !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid #fff !important;
  width: 14px !important;
  height: 14px !important;
	position: relative
}

.swiper-pagination-bullet-active:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin: auto;
	background-color: #fff;
}

/* SERVICES COMPONENT */

.services {
	margin-top: 70px;
	margin-bottom: 70px;
}

.services__wrap {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 40px;
}

.services-item__wrap {
	max-width: 200px;
	max-height: 200px;
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 10px;
	padding: 40px 10px 10px 10px;
	text-align: center;
	height: 205px;
	
}

.services-title {
	color: var(--yellow-color);
	margin-bottom: 30px;
}

.services-item:hover {
	background-color: #F6F5F2;
}

.services-item img {
	margin-bottom: 24px;
	width: 90px;
	height: 90px;
}

.services-item span {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 15px;
}

/* ARTICLES COMPONENT */

.articles {
	margin-bottom: 70px;
}

.articles-title {
	color: var(--yellow-color);
}

.article-item {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
	max-width: 350px;
}

.articles-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.articles-all {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #fbbb36;
	cursor: pointer;
}

.article-item-img__wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 200px;
	max-height: 200px;
}

.article-item-img__wrap img {
	width: 100%;
	transform: scale(1.2);
	min-height: inherit;
	object-fit: cover;
}

.article-item-body {
	padding: 0 25px;
	margin-top: 37px;
}

.article-item-body span {
	display: block;
	margin-bottom: 37px;
	font-weight: 500;
	
}

.article-item-body p {
	margin-bottom: 30px;
	height: 40px;
}

.article-item-body button {
	width: 100%;
	color: #fff;
	background-color: var(--yellow-color);
	border: none;
	padding: 12px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

/* REGISTRATION COMPONENT */ 

.online-registr {
	margin-bottom: 70px;
}

.online-registr-title {
	margin-bottom: 30px;
	color: var(--yellow-color);
}

.online-registr-text {
	margin-bottom: 30px;
}

.online-registr-contacts {
	margin-bottom: 30px;
	
}
.online-registr-contacts,
.online-registr-adress {
	display: flex;
	flex-direction: column;
}

.online-registr-adress p {
	font-size: inherit;
}

.online-registr-contacts a {
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

.online-registr-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 7px;
	grid-template-areas: 
    ". ."
    ". ."
    ". ."
    "online-registr-btn online-registr-btn"; 
}

.online-registr-btn__wrap {
	grid-area: online-registr-btn;
	font-weight: 400;
}

.online-registr-form-title {
	margin-bottom: 30px;
}

.online-registr-form input,
.online-registr-form select {
	background-color: #F0F0F1;
	padding: 14px 25px 12px 25px;
	outline: none;
	border: none;
	width: 100%;
}


.online-registr-form input::placeholder, 
	.online-registr-form select::placeholder {
		color: #000;
		font-weight: 400;
	}

	.online-registr-form select {
		-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
		display: block;
		position: relative;
		background: url('../img/down-arrow.svg') no-repeat center right;
		background-size: 9px 9px;
		background-position-x: calc(100% - 14px);
		background-color: #F0F0F1;
	}

	

	.online-registr-form .vdp-datepicker::after {
		content: url('../img/down-arrow.svg');
		display: block;
		position: absolute;
		right: 14px;
		top: calc(50% - 9px);
		width: 9px;
		height: 9px;
		z-index: 10;
	}



.online-registr-form button {
	padding: 12px 28px;
	background-color: var(--yellow-color);
	border: none;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	font-weight: 400;
	max-width: 140px;
	margin-right: 30px;
}

/* ARTICLES PAGE  */

.big-article {
  background: linear-gradient(180deg, #030405 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/article-img.png");
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 450px;
  max-height: 450px;
  padding: 30px;
  color: #fff;
  box-shadow: 0px 12px 27px rgba(0, 0, 0, 0.25);
  margin: 30px 0 70px;
}

.big-article ~ button {
	margin: 0 auto;
	display: block;
	padding: 12px;
	max-width: 370px;
	width: 100%;
	color: #fff;
	background-color: #000;
}

.big-article h3 {
  font-size: 35px;
  line-height: 37px;

  margin-bottom: 30px;
}

.big-article span {
  font-size: 20px;
  line-height: 22px;
}




/* ARTICLE PAGE */

.article-page__wrap .article-page-img{
	filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.25));
  margin: 0 0 70px 0;
	width: 100%;
	overflow: hidden;
}

.article-page__wrap .article-page-img img {
	width: 100%;
	height: inherit;
	object-fit: contain;
	transform: scale(1.2);
}

.article-page__wrap span {
	display: block;
	margin-bottom: 30px;
}

.article-page__wrap h2 {
	margin-bottom: 30px;
}

.article-page-content p:not(:last-child) {
	margin-bottom: 38px;
}

.article-page-content .wp-block-image {
	text-align: center;
	margin-bottom: 50px;
}

.article-page {
  padding-bottom: 70px;
}

.article-page-content {
  color: #000;
}


.article-page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.article-page-nav button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #7f7b7b;
  transition: all 0.3s ease;
}

.article-page-nav button:not(:disabled):hover {
  color: #000;
  transition: all 0.3s ease;
}

.article-page-nav-prev::before {
  content: url("../img/breadcrumb-arrow.svg");
  display: inline-block;
  width: 19px;
  height: 16px;
  margin-right: 30px;
  transform: rotate(180deg);
}

.article-page-nav-next::after {
  content: url("../img/breadcrumb-arrow.svg");
  display: inline-block;
  width: 19px;
  height: 16px;
  margin-left: 30px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 30px 0;
  font-weight: 400;
}

.main-breadcrumb {
  font-size: 20px;
  line-height: 22px;
  color: #7f7b7b;
  display: flex;
  align-items: center;
	cursor: pointer;
}

.main-breadcrumb::after {
  content: url("../../assets/img/breadcrumb-arrow.svg");
  display: inline-block;
  width: 19px;
  height: 16px;
  margin: 0 10px;
}

.breadcrumb-article-title {
  font-size: 20px;
  line-height: 22px;
}

/* PROFITABLE OFFER COMPONENT  */

.profitable-offer {
  margin-bottom: 70px;
}

.profitable-offer-title {
  margin-bottom: 30px;
}

.offer-item {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.offer-item-img-box {
  /* max-width: 350px; */
  height: 200px;
  background-color: #fbbb36;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



.offer-item-discount {
  position: absolute;
  left: 0;
  top: 17px;
  padding: 5px 8px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  background-color: #ff0f0f;
}

.offer-item-body {
  padding: 25px;
}

.offer-item-title {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.offer-item-descr {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.offer-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #ff0f0f;
}

.offer-item-btn {
  width: 100%;
  padding: 12px;
  border: 2px solid #fbbb36;
  background-color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
	transition: all .3s ease
}

.offer-item-btn:hover {
	/* background-color: var(--yellow-color); */
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
	transition: all .3s ease
}


/* USLUGA PAGE  */

.usluga-info {
  margin-top: 30px;
  margin-bottom: 70px;
}


.usluga-info-title {
  margin-bottom: 30px;
}

.usluga-info-descr {
  font-size: 15px;
  line-height: 16px;
}

.usluga-info-descr p strong {
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;
}

.usluga-info-descr p {
  margin-bottom: 15px;
}

.usluga-info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usluga-info-right img {
  width: 100%;
	height: 100%;
	max-height: 300px;
	object-fit: contain;
}


/* USLUGA TABLE */

.usluga-table-component {
  margin-bottom: 70px;
}

.usluga-table-title {
  color: var(--yellow-color);
  margin-bottom: 30px;
}

.usluga-table-subtitle {
  margin-bottom: 30px;
}

.usluga-table {
  width: 100%;
}

.usluga-table tr {
  border-bottom: 1px solid #c4c4c4;
}

.usluga-table tr td {
  padding: 15px 0;
  text-align: center;
	font-weight: 400;
}

.usluga-table tr td:first-child {
  text-align: left;
}

.usluga-table tr td:last-child {
  text-align: right;
}

.usluga-table-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	
}

.usluga-table-head span {
	font-size: 20px;
	line-height: 21px;
	display: block;
}

.table-descr {
	margin-top: 30px;
}

.table-descr-item {
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 16px;
}


/* MOBILE USLUGA TABLE  */

.mobile-table-component {
  margin-bottom: 70px;
}

.mobile-table-tab {
  font-size: 13px;
  text-align: center;
  margin-bottom: 25px;
}

.mobile-table-tab div {
  max-width: 120px;
  padding: 7px;
  background-color: var(--yellow-color);
}

table {
  width: 100%;
}

.mobile-table tr td {
  padding: 10px 0;
  border-bottom: 1px solid #c4c4c4;
}

.mobile-table tr td:last-child {
	text-align: right;
}

.activeTab {
  background-color: #D7A02F!important;
}

/* PAYMENT PAGE  */

.payment-page {
  padding: 30px 0;
}

.payment-page * {
  margin-bottom: 30px;
}

.payment-page img {
  width: 100%;
  max-width: 750px;
}

.payment-page h3 {
  color: #fbbb36;
}

/* GUARANTEE PAGE  */

.guarantee-page-title {
  margin-bottom: 30px;
}

.guarantee-page {
  padding: 30px 0;
}

.guarantee-page-block {
  margin-bottom: 30px;
}

.guarantee-page-block:last-child {
	margin-bottom: 0;
}

.guarantee-page-block p {
  margin-top: 30px;
  font-size: 15px;
  line-height: 16px;
}

.guarantee-page-block .guarantee-yellow-title {
  color: var(--yellow-color)
}

 /* CART ORDER */

.cart-order-component {
  background-color: #f9f9f9;
  border: 1px solid #c4c4c4;
  padding: 20px;
}

.cart-order-component > h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

.cart-order-component > h4.empty-cart-order-title {
	text-align: center;
	margin: 30px 0;
}

.cart-order__wrap {
  margin-top: 30px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.cart-order-item:not(:last-child) {
	margin-bottom: 70px;
}


.cart-order-item-header {
  display: flex;
}

.cart-order-item-img {
  width: 100px;
  height: 70px;
  background-color: #fff;
  margin-right: 15px;
  border: 1px solid #c4c4c4;
	overflow: hidden;
}

.cart-order-item-img img {
	width: 100%;
	height: inherit;
	object-fit: contain;
	padding: 2px;
}

.cart-order-item-descr h5 {
  margin-bottom: 20px;
}

.cart-order-item-descr span {
  font-weight: 400;
}

.cart-order-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-order-item-functions div {
  display: flex;
  align-items: center;
}

.cart-order-item-functions div img {
  margin-right: 10px;
}

.cart-order-item-favorite {
  margin-bottom: 8px;
}

.cart-order-item-body {
	margin-bottom: 15px;
}

.cart-order-item-counter span {
	margin: 0 10px;
}

.cart-order-item-counter img {
	cursor: pointer;
}

.cart-order-item-price {
  margin-bottom: 0 !important;
  color: var(--yellow-color);
	text-align: right;
}

.cart-order-total-sum {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.cart-order-total-sum h4 {
	font-size: 20px;
	line-height: 21px;
}

.cart-order-sum {
	margin: 30px 0;
}

.cart-order-total-sum span {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	color: var(--yellow-color);
}

.cart-order-coupon {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.cart-order-coupon input {
	max-width: 220px;
	padding: 14px 19px;
	margin-top: 8px;
	background-color: #F9F9F9;
	border: 1px solid #D1D1D1;
	
}

.cart-order-coupon input::placeholder {
	color: #000;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
}

/* CART FORM */

.cart-form-head-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cart-form-head-text span {
  color: var(--yellow-color);
}

.adress-form {
  margin-top: 30px;
  margin-bottom: 70px;
}

.cart-form-input__wrap {
  margin-bottom: 25px;
}

.cart-form-input__wrap label,
.cart-form-textarea__wrap label {
  margin-bottom: 8px;
  font-weight: 400;
}

.cart-form-input__wrap input {
  width: 100%;
  padding: 12px 20px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
}

.cart-form-input__wrap input::placeholder,
.cart-form-textarea__wrap textarea::placeholder {
  color: #000;
  font-weight: 400;
}

.cart-form-textarea__wrap {
  margin-top: 30px;
}

.cart-form-textarea__wrap textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
}

.submit-order-form__wrap {
  margin-top: 70px;
}

.cart-form-checkbox__wrap {
  display: flex;
  align-items: center;
  padding: 11px 18px;
  background-color: #f9f9f9;
  border: 1px solid #c4c4c4;
	width: 100%;
}


.cart-form-checkbox__wrap:first-child {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom-label {
  display: flex;
  align-items: center;
	width: 100%;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background: #fff;
  border: 1px solid #c4c4c4;
	max-width: 20px;
  width: 100%;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  display: block;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: url("../img/check-arrow.svg");
  max-width: 20px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-order-form-btn {
  padding: 16px 50px;
  border: none;
  color: #fff;
  background-color: var(--yellow-color);
  margin-top: 17px;
}

.submit-order-form-privacy {
  margin-top: 30px;
}

.submit-order-form-privacy img {
  display: block;
  margin-bottom: 10px;
}

.submit-order-form-privacy span {
  font-weight: 500;
}

.submit-order-form-privacy p,
.submit-order-form-privacy span {
  font-size: 15px;
  line-height: 16px;
}

/* CABINET PAGE */

.cabinet-page {
  padding: 30px 0;
}

.cabinet-page-title {
  margin-bottom: 70px;
}

.user-name-block__wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-block__wrap button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
}

.user-name-block__wrap button:hover {
  color: var(--yellow-color);
  border-bottom: 1px solid var(--yellow-color);
}

.cabinet-page__wrap {
  display: flex;
  justify-content: space-between;
}

.cabinet-photo {
  max-width: 400px;
  width: 100%;
  margin-right: 80px;
}

.cabinet-photo small {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
  display: block;
}

input[type="file"] {
  display: none;
}

.custom-load-profile-img {
  display: block;
  padding: 13px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.cabinet-img {
  margin-bottom: 30px;
}

.cabinet-img__wrap {
  width: inherit;
  height: 400px;
  background-color: #c4c4c4;
}

.cabinet-img__wrap img {
	width: 100%;
	height: inherit;
	object-fit: cover;
}

.cabinet-info {
  width: 100%;
}

.cabinet-offers-table {
  border-collapse: collapse;
}

.cabinet-offers-table thead td:not(:first-child),
.cabinet-offers-table tbody tr td:not(:first-child) {
  text-align: center;
}

.cabinet-offers-table thead td:last-child,
.cabinet-offers-table tbody tr td:last-child {
  text-align: right;
}

.cabinet-offers-table td {
  padding: 15px 0;
  text-align: left;
}

.cabinet-offers-table tr,
.cabinet-offers-table thead {
  border-bottom: 1px solid #c4c4c4;
}


/* LOGIN PAGE */

.login-page {
  padding: 130px 0;
}

.login-page__wrap {
  display: flex;
  justify-content: center;
  height: 320px;
}

.login-page-left,
.login-page-right {
  width: 100%;
}

.login-page-left {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.login-page-separator {
  height: 100%;
  width: 1px;
  background-color: #6b6963;
  margin: 0 110px;
	display: block;
}

.login-form {
	width: 100%;
}

.login-form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 16px;
  background-color: rgba(9, 19, 33, 0.0638304);
  border: none;
}

.login-form-error {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}


.login-page-right h2 {
  margin-bottom: 30px;
}


.login-page-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-btn {
  padding: 12px;
  width: 100%;
  border: none;
  color: #fff;
  background-color: var(--yellow-color);
}

.registr-btn {
  background-color: #000;
}


/* REGISTR PAGE  */

.registr-page {
  padding: 130px 0;
}

.registr-page h2 {
  margin-bottom: 30px;
}

.registr-form-input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  padding: 12px 16px;
  background-color: rgba(9, 19, 33, 0.0638304);
}

.registr-form-input::placeholder {
  color: #000;
}

.registr-form-inputs-box {
  display: flex;
}

.registr-form-checkbox {
  margin-bottom: 30px;
}

.registr-page-form button {
  width: 100%;
  padding: 14px;
  color: #fff;
  background-color: var(--yellow-color);
  border: none;
  margin-bottom: 18px;
}

/* GOOD PAGE */

.good-page {
  padding: 30px 0;
}

.good-title {
  margin-bottom: 70px;
}

.good-info {
  margin-bottom: 30px;
}

.good-info-text p {
  margin: 30px 0;
  max-width: 620px;
}

.good-info-block {
  display: flex;
}

.good-info-names,
.good-info-value {
  display: flex;
  flex-direction: column;
}

.good-info-names span:not(:last-child),
.good-info-value span:not(:last-child) {
  margin-bottom: 15px;
}

.good-info-names {
  margin-right: 30px;
}


/*ADAPTIIIIIIIIIV*/

@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	p, span, a {
		font-size: 10px;
		line-height: 11px;
	}

	button {
		font-size: 13px;
		line-height: 14px;
	}

	h2 {
		font-size: 30px;
		line-height: 32px;
	}

	h3 {
		font-size: 13px;
		line-height: 15px;
	}

	h4 {
		font-size: 13px;
		line-height: 14px;
	}


	.header-wrap {
		padding: 17px 0;
	}

	.header-search {
		max-width: 350px;
	}

	.header-search input {
		padding: 5px;
    font-size: 10px;
    line-height: 10px;
	}

	.header-search button {
		padding: 5px;
		border: none;
	}

	.header-shop-right {
    flex-direction: column-reverse;
    align-items: flex-end;
		width: unset
	}

	.header-cart {
		margin-bottom: 15px;
	}

	.footer-menu:not(:last-child) {
		margin-right: 46px;
	}

	.footer-left-text {
		font-size: 10px;
		margin-top: 15px;
	}

	.footer-menu-title {
		font-size: 13px;
		margin-bottom: 15px;
	}

	.footer-menu-item {
		font-size: 10px;
		line-height: 11px;
		margin-bottom: 10px;
	}

	.footer-menu-item:last-child {
		margin-bottom: 0;
	}

	.footer-social a img{
		height: 18px;
	}

	.offer-item-img-box {
		height: 115px;
	}

	.offer-item-img-box img {
		width: 100%;
		height: inherit;
		object-fit: contain;
	}

	.offer-item-body {
		padding: 30px 13px 20px 13px;
	}

	.offer-item-btn {
		font-size: 13px;
		line-height: 24px;
		padding: 2px 5px;
	}

	.yellow-cube {
		width: 26px;
		height: 26px;
		margin-right: 10px;
	}

	.slide-box {
		padding: 36px 52px;
	}

	.slider-btn {
		padding: 7px 25px;
	}

	.slide-box h2 {
		margin-bottom: 15px;
	}

	.slide-box p {
		margin-bottom: 50px;
	}

	.offer-item-body p {
		font-size: 10px;
		line-height: 11px;
	}

	.about-component-map-left {
		margin-bottom: 18px;
	}

	.about-component-num {
		font-size: 25px;
		line-height: 29px;
		max-width: 60px;
		margin-right: 0;
	}

	.map-instance__wrap {
		height: 170px!important;
	}

	.about-component-map-left div h3 {
		margin-bottom: 5px;
	}

	.payment-page * {
		margin-bottom: 25px;
	}
	
	.payment-page h3 {
		margin-bottom: 15px;
	}

	.header-info__wrap {
		font-size: 13px;
		line-height: 14px;
		width: 100%;
	}

	.header-info__wrap div:not(:last-child) {
		margin-right: 17px;
	}

	.services-item{
		padding: 30px 5px 5px 5px;
	}


	.services-item img {
		width: 50px;
		height: 50px;
		margin-bottom: 13px;
	}

	.services-item span {
		font-size: 8px;
		line-height: 9px;
	}

	.article-item-img__wrap {
		min-height: 120px;
		max-height: 120px;
	}

	.article-item-body {
		padding: 0 10px;
		margin-top: 20px;
		
	}

	.article-item-body span {
		font-size: 10px;
		line-height: 11px;
		margin-bottom: 20px;
	}

	.article-item-body p {
		margin-bottom: 20px;
	}

	.article-item-body button {
		font-size: 10px;
		line-height: 11px;
		padding: 10px;
		margin-bottom: 20px;
	}

	.articles-all {
		font-size: 13px;
		line-height: 13px;
	}

	.online-registr-text {
		margin-bottom: 8px;
	}

	.online-registr-contacts {
		margin-bottom: 13px;
	}

	.online-registr-contacts a,
	.online-registr-adress p{
		font-size: 10px;
		line-height: 11px;
	}

	.online-registr-form-title {
		margin-bottom: 15px;
	}

	.online-registr-form input, 
	.online-registr-form select {
		padding: 7px 14px;
		font-size: 10px;
		line-height: 11px;
		
	}

	.online-registr-form button {
		padding: 5px;
		font-size: 10px;
		line-height: 11px;
		width: 100%;
		max-width: 75px;
	}

	.breadcrumbs  {
		padding: 20px 0;
	}
	.breadcrumbs * {
		font-size: 13px;
		line-height: 14px;
	}

	.article-page__wrap .article-page-img {
		margin-bottom: 25px;
	}

	.article-page__wrap h2 {
		font-weight: 500;
	}

	.login-page-separator {
		margin: 0 30px;
	}

	.services__wrap {
		grid-gap: 25px;
	}

	.cabinet-offers-table {
		font-size: 10px;
		line-height: 11px;
	}

	.services-item {
		height: 120px;
	}

	.cabinet-img__wrap {
    height: 320px;
  }

	.cabinet-page-title {
		margin-bottom: 30px;
	}

	.login-page-right h2 {
		margin-bottom: 50px;
	}

	.big-article {
		min-height: 350px;
		max-height: 350px;
	}

}
@media (max-width: 786px) {
}
@media (max-width: 767px) {
	.hide-nav {
		display: none;
	}

	.cart-page__wrap {
		display: flex;
		flex-direction: column-reverse;
	}

	.cart-order-component {
		margin-bottom: 30px;
	}

	.adress-form {
		margin-bottom: 30px;
	}

	.submit-order-form__wrap {
		margin-top: 30px;
	}

	.article-item-img__wrap {
		min-height: 160px;
    max-height: 160px;
	}

	.big-article {
		min-height: 275px;
		max-height: 275px;
		background-size: 140%;
		margin-bottom: 30px;
		padding: 18px 35px;
	}

	.big-article h3 {
		font-size: 25px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	.big-article span {
		font-size: 13px;
		line-height: 14px;
	}

	.about-component {
		display: none;
	}



	.cabinet-page__wrap {
		flex-direction: column;
		align-items: center;
	}

	.usluga-table-head span {
		font-weight: 500;
		font-size: 13px;
		line-height: 14px;
	}

	.mobile-table {
		font-weight: 400;
	}

	.cabinet-photo {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.cabinet-photo {
    margin-right: 0;
  }

	.login-form {
		max-width: 423px;
		margin-top: 30px;
	}

	.login-page-right h2 {
		margin-bottom: 35px;
	}

	.online-registr-form__wrap {
		margin-top: 25px;
	}
}
@media (max-width: 672px) {
	

	.header-search {
		position: absolute;
    right: 15px;
    top: 123px;
    width: 60%;
	}

	.header-shop-right {
		flex-direction: row;
    justify-content: space-between;
    align-items: center;
	}

	.header-menu-cabinet__wrap {
		position: absolute;
    left: 15px;
    top: 125px;
	}

	.header-menu-cabinet:not(:last-child) {
		margin-right: 20px;
	}

	.header-menu-block li:not(:last-child) {
		margin-right: 20px;
	}

	.header-menu-block li {
		font-size: 13px;
	}

	.header-cart {
		margin-bottom: 0;
	}

	.header-shop-right {
		width: 100%;
		margin-left: 20%;
	}

	.header-contacts {
		font-size: 13px;
		line-height: 14px;
	}

	.header-info__wrap {
		display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
		gap: 10px 0;
    grid-template-areas:
        ". ."
        "header-adress header-adress";
	}

	.header-adress {
		grid-area: header-adress;
	}

	.header-contacts {
		margin-right: 0!important;
	}

	.service-logo {
		width: 100%;
	}

	.login-page {
		padding: 30px 0;
	}

	.login-page__wrap {
		height: 100%;
		flex-direction: column;
	}

	.login-page-separator {
		display: none;
	}

	.login-page-left {
		align-items: center;
		margin-bottom: 30px;
	}

	.login-page-left h2 {
		margin-bottom: 30px;
	}

	.login-page-right,
	.login-page-right-text {
		align-items: center;
		text-align: center;
	}

	.login-page-right-text p {
		margin-bottom: 30px;
	}

	.registr-btn {
		max-width: 423px;
	}

	.swiper-slide h2 {
		font-size: 30px;
	}

	.services__wrap {
		grid-template-columns: repeat(3, 1fr)
	}

	.slide-box {
		padding: 20px 30px;
		min-height: 190px;
	}

	
	
}
@media (max-width: 512px) {

	.swiper-slide h2 {
		font-size: 20px;
		line-height: 21px;
	}

	.slide-box p {
		margin-bottom: 15px;
	}

	.mobile-table-tab{
		width: 50%;
	}

	.mobile-table-tab div {
		max-width: unset;
		width: 100%;
	}

	.header-shop-right {
		margin-left: 50px;
	}

	.footer-menu__wrap {
		display: grid;
    grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "first second"
												"first third";
	}

	.footer-menu:nth-child(1) {
		grid-area: first;
	}
	.footer-menu:nth-child(2) {
		grid-area: second;
		margin-bottom: 10px;
	}
	.footer-menu:nth-child(3) {
		grid-area: third;
	}

	.footer-menu-title {
		margin-bottom: 5px;
	}

	.footer-menu:not(:last-child) {
		margin-right: 0;
	}

	.footer-center  {
		margin-bottom: 30px;
	}

	.header-menu-block li {
		font-size: 10px;
	}

	.service-logo {
		width: 50%;
	}

	.header-contacts img, .header-worktime img, .header-adress img {
		width: 15px;
		height: 15px;
	}

	.breadcrumbs {
		align-items: flex-start;
    flex-direction: column;
	}

	.main-breadcrumb {
		margin-bottom: 13px;
	}

	.main-breadcrumb::after {
    width: 10px;
    height: 14px;
		transform: scale(.6) rotate(90deg);
		margin: 0;
		margin-left: 6px;
	}

	.registr-page {
		padding: 30px 0;
	}

	.cart-order-total-sum {
		justify-content: start;
	}

	.cart-order-total-sum h4 {
		font-size: 13px;
		line-height: 14px;
		margin-right: 20px;
	}

	.cart-order-total-sum span {
		font-size: 25px;
		line-height: 29px;
	}

	.article-item-img__wrap {
		min-height: 120px;
    max-height: 120px;
	}

	.big-article {
		min-height: 180px;
		max-height: 180px;
		background-size: 160%;
		padding: 18px;
	}

	.big-article h3 {
		font-size: 18px;
		line-height: 18px;
	}

	.big-article span {
		font-size: 10px;
		line-height: 11px;
	}

	.cart-form-checkbox__wrap label {
		font-size: 13px;
		line-height: 14px;
	}

	.article-page {
		padding-bottom: 30px;
	}

	.article-page-nav {
		margin-top: 30px;
	}

	.article-page-nav button {
		font-size: 11px;
		line-height: 12px;
	}

	.article-page-nav-next::after {
		margin-left: 10px;
	}

	.article-page-nav-prev::before {
		margin-right: 10px;
	}

	.footer-payments-img {
		width: 100%;
	}
}
@media (max-width: 390px) {
	.header-shop-right {
		margin-left: 15px;
		flex-direction: column;
    align-items: flex-end;
	}

	.header-contacts {
		margin-bottom: 15px;
	}

	.header-search {
		width: 50%;
	}

	.burger-menu {
		width: 16px;
		height: 12px
	}

	.burger-menu span {
		height: 2px;
		width: 16px;
	}

	.service-logo {
		width: 80px;
	}

	.header-contacts-service {
		margin-bottom: 0;
	}

	.registr-form-inputs-box {
		flex-direction: column;
	}

	.services__wrap {
		grid-template-columns: repeat(2, 1fr)
	}

	.article-item-img__wrap {
		min-height: 100px;
    max-height: 100px;
	}

	.header-menu-block li:not(:last-child) {
		margin-right: 10px;
	}

	.footer-left-text a {
		font-size: 9px;
	}
}
@media (max-width: 320px) {
}

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

button:active,
button:hover,
button:focus {
	outline: 0;
	outline-offset: 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
