:root {
	--yellow-color: #fbbb36;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #000;
	/* font-family: 'Montserrat', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus,
a:active {
	color: #000;
	text-decoration: none !important;
}

.container {
	max-width: 1200px;
}

/* Header */

.logo {
	width: 84px;
	height: 84px;
}

.yellow-header {
	/* background-color: #fbbb36; */
	background-color: var(--yellow-color);
}

.black-header {
	background-color: #000;
	color: var(--yellow-color);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header-wrap {
	padding: 8px 0;
}

.header-search {
	width: 100%;
	max-width: 520px;
	display: flex;
}

.header-search input {
	width: 100%;
	padding: 14px 20px;
}

.header-search button {
	padding: 12px 15px;
	background-color: #030405;
	color: #fff;
}

.header-contacts,
.header-worktime,
.header-adress {
	display: flex;
	align-items: center;
}

.header-contacts div,
.header-worktime div,
.header-adress div {
	display: flex;
	flex-direction: column;

	margin-left: 11px;
}

.header-cart {
	/* margin-left: 50px; */
}

.header-menu {
	padding: 15px 0;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu-block {
	display: flex;
	font-size: 15px;
}

.header-menu-block li {
	cursor: pointer;
}

.header-menu-block li:not(:last-child) {
	margin-right: 38px;
}

.header-menu-block li:first-child {
	display: flex;
	align-items: center;
	position: relative;
}

.burger-menu {
	width: 18px;
	height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 6px;
}

.burger-menu span {
	display: block;
	width: 18px;
	height: 3px;
	background-color: #000;
}

.header-menu-cabinet__wrap {
	display: flex;
	align-items: center;
}

.header-menu-cabinet {
	cursor: pointer;
}

.header-menu-cabinet:not(:last-child) {
	margin-right: 35px;
}
.header-menu-cabinet img {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.header-info__wrap {
	display: flex;
	justify-content: flex-end;
	width: 75%;
}

.header-info__wrap div:not(:last-child) {
	margin-right: 40px;
}

.header-info__wrap img {
	width: 20px;
	height: 20px;
}

/* FOOTER */

.yellow-footer {
	background-color: var(--yellow-color) !important;
	color: #000 !important;
}

.black-footer {
	background-color: #000 !important;
	color: var(--yellow-color) !important;
}

.black-footer a {
	color: var(--yellow-color) !important;
}

.footer {
	font-size: 15px;
	font-weight: 400;
}

.footer .container {
	position: relative;
}

.head-footer {
	background-color: var(--yellow-color);
	padding: 21px 0;
}

.footer-left-text {
	opacity: 0.4;
	margin-top: 30px;
}

.footer-menu__wrap {
	display: flex;
}

.footer-menu:not(:last-child) {
	margin-right: 74px;
}

.footer-menu-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}

.footer-menu-item {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	white-space: nowrap;
}

.footer-social {
	position: absolute;
	bottom: 40px;
	right: 60px;
}

/* SHOP SLIDER */

.shop-slider {
	padding: 30px 0;
}

.slide-box {
	padding: 120px 0 83px 90px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.swiper-slide h2 {
	color: var(--yellow-color);
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
}

.swiper-slide p {
	margin-bottom: 73px;
}

.slider-btn {
	padding: 15px 56px;
	border: 1px solid #FFFAFA;
	background-color: transparent;
	transition: all .5s ease;
}

.slider-btn:hover {
	border: 1px solid #000;
	background-color: #000;
	transition: all .5s ease;
}

.under-slider__wrap {
  margin: 35px 0;
}

.under-slider-block {
  display: flex;
  align-items: center;
}

.under-slider-block:nth-child(2) {
  justify-content: center;
}

.under-slider-block:last-child {
  justify-content: flex-end;
}

.yellow-cube {
  display: block;
  width: 42px;
  height: 42px;
  background-color: var(--yellow-color);
  margin-right: 25px;
}

/*ADAPTIIIIIIIIIV*/

@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 786px) {
}
@media (max-width: 767px) {
}
@media (max-width: 672px) {
}
@media (max-width: 512px) {
}
@media (max-width: 390px) {
}
@media (max-width: 320px) {
}

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

button:active,
button:hover,
button:focus {
	outline: 0;
	outline-offset: 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
